.App {
    display: flex;
    height: 982px;
}

@media (max-width: 320px){
    .Sidebar {
        display: block;
    }

    .NoteContainer {
        display: none;
    }

    .CreateGroupForm {
        display: block;
    }
}


